<div class="container">

  <mat-card style="background-color: darkblue" >
    <mat-card-title style="margin-right: auto;margin-left: auto;margin-top: 30%; color: #EFB810; font-size: 300%">Car Finance</mat-card-title>
    <img src="./assets/images/logoFinanzas.png" style="width: 50%;margin:auto">
  </mat-card>

  <mat-card >
    <div class="login-form">
      <img src="./assets/images/imgUserBlack.png" class="logo">
        <p class="login-text"><b>Iniciar Sesión</b></p>

      <form>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button type="submit">Login</button>
      </form>
      <p> <b> ¿No tienes una cuenta?</b></p>
      <a routerLink="/navigation/register">Registrate</a>
    </div>
  </mat-card>
</div>
