<main>
  <app-toolbar></app-toolbar>

  <header>
    <h1>Car Finance: Tu Herramienta Integral de Finanzas Vehiculares</h1>
    <p>Bienvenido a la solución que simplifica tus cálculos financieros para la adquisición de vehículos.</p>
  </header>

  <section class="features">
    <h2>Funciones Destacadas</h2>
    <div class="feature">
      <h3>Calculadora Avanzada</h3>
      <p>Realiza cálculos precisos y detallados con nuestra calculadora integrada.</p>
    </div>
    <!-- Agrega más características aquí -->
  </section>

  <section class="how-it-works">
    <h2>Cómo Funciona</h2>
    <ol>
      <li><strong>Ingresa tus Datos:</strong> Completa la información sobre tu financiamiento vehicular.</li>
      <li><strong>Obtén Resultados Instantáneos:</strong> La calculadora generará resultados detallados al instante.</li>
      <li><strong>Analiza y Decide:</strong> Toma decisiones informadas sobre tu inversión.</li>
    </ol>
  </section>


  <br><br>
  <h2 style="text-align: center">DESARROLLADORES</h2>
  <div class="developer-cards-container">

    <mat-card *ngFor="let developer of developers" class="developer-card">
      <img mat-card-image [src]="developer.photo" width="100" height="100" alt="{{ developer.name }}">
      <mat-card-header>
        <mat-card-title>{{ developer.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ developer.email }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <app-footer></app-footer>
</main>
