.developer-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.developer-card {
  width: 200px;
  margin: 16px;
}

.developer-photo-container {
  overflow: hidden;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.features, .how-it-works, .signup {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.feature {
  margin-bottom: 20px;
}


footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

